<template>
  <div class="row mt-4">
    <div class="col-md-6">
      <span class="badge badge-pill badge-secondary">{{ penerima.rembesed_at ? "Sudah Dicairkan" : "Pending" }}</span>
      <h4 class="font-weight-bold">TR0000212</h4>
    </div>
    <div class="col-md-6 text-right">
      <div>{{penerima.created_at | hari}}</div>
      <div>{{penerima.created_at | moment}}</div>
    </div>
    <div class="col-md-12">
      <div class="card-custom">
        <div class="card-body">
          <h6 class="font-weight-bold">Paket 1</h6>
          <div class="table-responsive mt-3">
            <table class="table table-hover table-borderless table-striped">
              <thead>
                <tr class="text-center table-header">
                  <th>Produk</th>
                  <th>Jumlah</th>
                  <th>Harga Satuan</th>
                  <th>Sub Total</th>
                </tr>
              </thead>

              <tbody>
                  <tr v-for="(produk, p) in produk" :key="p" class="text-center">
                    <td>{{produk.nama}}</td>
                    <td>{{produk.jumlah_produk}}</td>
                    <td>{{toRupiah(produk.harga_satuan)}}</td>
                    <td>{{toRupiah(produk.harga_satuan * produk.jumlah_produk)}}</td>
                  </tr>
                  <tr class="text-center bg-secondary text-white">
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td v-if="produk.length">{{toRupiah(produk[0].total_harga)}}</td>
                    <td v-else>Rp. 0</td>
                  </tr>
              </tbody>
            </table>
            <div v-if="!penerima.rembesed_at" class="text-right clearfix">
              <button class="btn btn-sm" @click="drawer = !drawer">Batal</button>
              <button class="btn btn-sm btn-secondary" @click="rembeskan(penerima.id)">Rembeskan</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-custom">
        <div class="card-body">
          <h6 class="font-weight-bold mb-3">Identitas & Bukti Penerima</h6>
          <div class="row">
            <div class="col-md-4">
              <img :src="penerima.foto_transaksi" class="rounded">
              <!-- <qrcode-vue value="https://www.1stg.me" class="qrcode" margin="2" /> -->
            </div>
            <div class="col-md-4">
              <div class="label">ID QR</div>
              <div class="isi">{{penerima.id}}</div>
              <div class="label">Nama Penerima</div>
              <div class="isi">{{penerima.nama}}</div>
              <div class="label">Alamat Penerima</div>
              <div class="isi">{{penerima.alamat}}</div>
            </div>
            <div class="col-md-4">
              <div class="label">NIK Penerima</div>
              <div class="isi">{{penerima.nik}}</div>
              <div class="label">Whatsapp</div>
              <div class="isi">{{penerima.hp}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import QrcodeVue from 'qrcode.vue'
import moment from 'moment'
import "moment/locale/id"
moment.locale('id')

export default {
  name: 'DrawerRembes',
  components: {
    // QrcodeVue
  },
  props: {
    produk: Array,
    penerima: Object
  },
  methods: {
    toRupiah(angka) {
      var rupiah = '';
      var angkarev = angka.toString().split('').reverse().join('');
      for(var i = 0; i < angkarev.length; i++) if(i%3 == 0) rupiah += angkarev.substr(i,3)+'.';
      return 'Rp. '+rupiah.split('',rupiah.length-1).reverse().join('');
    },
    moment(){
      return moment();
    },
    rembeskan(transaksiId) {
      this.$parent.setujuiPencairan(null, transaksiId)
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format('Do MMMM YYYY, h:mm:ss a');
    },
    hari: function(date) {
      return moment(date).format('dddd');
    }
  }
}
</script>

<style>
  .table-header {
    box-shadow: -2px 2px 3px rgba(0,0,0,.3);
    background: white;
  }

  table:first-child {
    border-collapse:separate;
    border-spacing: 0 0.1em;
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
  }
  img.rounded {
    width: 125px;
    height: 125px;
  }
  .label {
    font-size: 12px;
  }
  .isi {
    font-size: 14px;
    font-weight: bold;
  }
  .qrcode {
    position: absolute;
    left: 100px;
    bottom: 10px;
    width: 100px;
    height: 100px;
  }
</style>
