<template>
  	<div>
    	<date-range-picker
			v-model="dateRange"
			opens="inline"
			:locale-data="locale"
			:show-dropdowns="false"
			minDate="minDate"
			:autoApply="autoApply"
			@update="getData"
		>
      	</date-range-picker>

		<div class="card-custom">
			<div class="card-body">
			<h6 class="card-title">Histori Pencairan Rembes</h6>
			<div class="table-responsive mt-3">
			<table class="table table-hover table-striped text-center" id="table-histori">
				<thead>
					<tr class="text-center">
						<th class="text-center">No</th>
						<th class="text-center">Tanggal</th>
						<th class="text-center">Transaksi</th>
						<th class="text-center">Nominal</th>
						<th class="text-center">Teller</th>
						<th class="text-center">Aksi</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(historii, i) in histori" :key="i" class="text-center">
						<td>{{ i + 1 }}</td>
						<td>{{ formatTanggal(historii.created_at) }}</td>
						<td>{{ historii.jumlah_transaksi }}</td>
						<td>{{ formatRupiah(String(historii.total_rembes)) }}</td>
						<td>BJB</td>
						<td><button class="btn btn-grey-white btn-sm" @click="showDetail(historii.id, historii.warung_id)"><span class="fas fa-info"></span></button></td>
					</tr>
				</tbody>
			</table>
			</div>
			</div>
		</div>

		<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<h4 class="modal-title">Detail Rembes</h4>
						<div class="info-warung">
							<div class="row">
								<div class="col-4">
									<p class="mb-1">Nama Warung</p>
									<p class="mb-1">Nama Pemilik</p>
									<p class="mb-1">Alamat</p>
									<p class="mb-1">No Hp</p>
								</div>
								<div class="col-8">
									<p id="nama-warung" class="mb-1">{{ warung.nama_warung }}</p>
									<p id="nama-pemilik" class="mb-1">{{ warung.nama_pemilik }}</p>
									<p id="alamat" class="mb-1">{{ warung.alamat }}</p>
									<p id="no-hp" class="mb-1">{{ warung.hp }}</p>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-striped table-hover text-center">
								<thead>
									<tr>
										<th class="text-center">No</th>
										<th class="text-center">Foto</th>
										<th class="text-center">Kode Transaksi</th>
										<th class="text-center">Tanggal</th>
										<th class="text-center">Nama Penerima</th>
										<th class="text-center">Total Harga</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item, i) in detailHistory" :key="i">
										<td>{{ i + 1 }}</td>
										<td><img :src="item.foto_transaksi" alt=""></td>
										<td>{{ item.id}}</td>
										<td>{{ formatTanggal(item.created_at)}}</td>
										<td>{{ item.nama }}</td>
										<td>{{ formatRupiah(String(item.total_harga)) }}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="d-flex justify-content-end">
							<button class="btn btn-sm btn-secondary" data-dismiss="modal">TUTUP</button>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</template>
<script>
import DateRangePicker from 'vue2-daterange-picker'
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
import axios from 'axios/'

export default {
	name: 'HistoriPencarianRembes',
	props: {
		warungId : ''
	},
	components: {
		DateRangePicker,
	},
	data() {
		return {
		dateRange: {},
		autoApply: false,
		minDate: "2019-05-02 04:00:00",
		locale: {
			direction: 'ltr',
			format: 'dd/mm/yyyy',
			separator: ' - ',
			applyLabel: 'Filter',
			cancelLabel: 'Batal',
			weekLabel: 'w',
			customRangeLabel: 'Custom Range',
			daysOfWeek: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
			monthNames: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
			firstDay: 0
		},
		histori : [],
		detailHistory : [],
		warung: []
		}
	},
	methods : {
		historiPencairan(id){
			var url = '/bjb/pencairan-rembes/histori/' + id;
			axios({
				url : url,
				method : 'get'
			}).then((res) => {
				this.histori = res.data;
			})
		},
		showDetail(id, warungId){
			var url = '/bjb/pencairan-rembes/histori/detail/' + id + '/' + warungId;
			axios({
				url : url,
				method : 'get'
			}).then((res) => {
				this.detailHistory = res.data.transaksi;
				this.warung = res.data.warung;
				$('#detail').modal('show');
			})
		},
		formatRupiah(angka, prefix = "Rp. "){
			var number_string = angka.replace(/[^,\d]/g, '').toString(),
			split  = number_string.split(','),
			sisa   = split[0].length % 3,
			rupiah = split[0].substr(0, sisa),
			ribuan = split[0].substr(sisa).match(/\d{3}/gi);

			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				var separator = sisa ? '.' : '';
				rupiah += separator + ribuan.join('.');
			}

			rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
			return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
		},
		formatTanggal(date){
			date = new Date(date);
			var tanggal = ("0" + date.getDate()).slice(-2);
			var bulan   = ("0" + (date.getMonth() + 1)).slice(-2);
			var tahun   = date.getFullYear();
			return tanggal + '/' + bulan + '/' + tahun;
		},
		getData(value = null) {
			if (value) {
				let tanggalAwal   = value.startDate;
				let tanggalAkhir  = value.endDate;
				let tanggalFrom = tanggalAwal.getDate();
				let bulanFrom = tanggalAwal.getMonth();
				let tahunFrom = tanggalAwal.getFullYear();
				let tanggalTo = tanggalAkhir.getDate();
				let bulanTo = tanggalAkhir.getMonth();
				let tahunTo = tanggalAkhir.getFullYear();
				let range = {
					tanggalFrom: tanggalFrom,
					bulanFrom: bulanFrom,
					tahunFrom: tahunFrom,
					tanggalTo: tanggalTo,
					bulanTo: bulanTo,
					tahunTo: tahunTo,
					range: range,
				};
				this.$parent.cariTransaksi(false, null, range);
			}
			// console.log(value);
		}
	},
	mounted(){
		this.historiPencairan(this.warungId);
	}
}
</script>
<style scoped>
	.modal-title{
		font-size: 16px;
		font-weight: bold;
	}

	.info-warung{
		padding: 20px 0px;
		font-size: 14px;
	}

	table thead tr th{
		font-size:14px;
	}

	table tbody tr td{
		font-size:12px;
	}
</style>
