<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/bjb/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link ml-5" :class="{'active':active == 'pencairan'}" href="/bjb/pencairan-rembes">Pencairan Rembes</a>
        <a class="nav-link ml-4" :class="{'active':active == 'laporan'}" href="/bjb/laporan-rembes">Laporan Rembes</a>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: "navbarbjb",
  props: ['active']
}
</script>
