/* Navbar */
.navbar-brand {
    color: #979aac !important;
}

.nav-link {
    color: #979aac !important;
}

.active {
    color: #6B7192 !important;
    font-weight: bold;
}


/* Activity Log */
.user-circle {
    background-color: #6B7192;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

.user-circle i {
    margin-top: 13px;
}
.user-circle-sm {
    cursor: pointer;
    background-color: #6B7192;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
}
.user-circle-sm i {
    margin-top: 6px;
}
.angular-sm {
    cursor: pointer;
    width: 30px;
    font-size: 30px;
    text-align: center;
    color: #6B7192;
}

/* Cutome CSS */
.card-custom {
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 10%);
    border-radius: 2.5px;
    margin: 0.75rem 0.1rem;
    background-color: #FFFFFF !important;
}

.card-custom .card-header .title{
    font-size:14px;
    font-weight: bold;
}
.card-custom .card-header .sub-title{
    font-size:12px;
    font-weight: normal;
}

.text-grey {
    color: #6B7192 !important;
}

.text-small {
    font-size: 12px;
    color: #B2BEC3;
}

.btn-grey-white {
    background: #6B7192;
    color: #FFFFFF;
}

.btn-grey-white:hover {
    color: #FFFFFF;
}

.btn-white-grey {
    border-color: #f5f6fa;
    background: #FFFFFF;
    color: #6B7192;
}

.f-10 {
    font-size: 12px;
}

/* Card Table */
.card-table{
    width:100%;
    white-space: nowrap;
}

.card-table thead tr{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin:5px;
}

.card-table thead tr th{
    padding-bottom:10px;
    font-size:10px;
    font-weight: bold;
}

.card-table tbody tr{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 10%);
    background: #fff;
    margin:5px;
}

.card-table tbody tr td{
    display: block;
    padding:10px;
    font-size:10px;
}

.card-table tbody tr:hover{
    background: #fafafa;
}

/* End Card Table */

.shadow{
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 10%) !important;
}

.nominal-info .info-title{
    font-size: 8px;
    margin-bottom: 0px !important;
}

.nominal-info .info-nominal{
    font-size: 12px;
    margin-bottom:5px !important;
}

/* Input Search */

.search{
    border-radius: 100px;
    border-width: 2px;
    border-color: #6B7192 !important;
    padding-right: 25px;
}

.search.small-search{
    height: 1.5rem !important;
    font-size: 10px;
    padding-bottom: 9px;
}

.input-search-icon{
    position: absolute;
    right:12px;
    color:#fff;
    background: #6B7192;
    padding:6px;
    border-radius: 100px;
    font-size:12px;
}

/* End Input Search */

/* Card Tabs */

.card-tabs .tab{
    font-size:12px;
    cursor: pointer;
    padding:7.5px 10px;
    margin:0px;
    display:inline-block;
    color:#b1b5cc;
    border-radius:3px 3px 0px 0px;
}

.card-tabs .panels{
    background:#fff;
    box-shadow: 0px 3px 3px 1px rgb(0 0 0 / 10%);
    width:100%;
    border-radius:3px;
    overflow:hidden;
    padding:20px;
}

.card-tabs .panel{
    display:none;
    animation: fadein .25s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panels table{
    white-space: nowrap;
}

.panels table thead tr th{
    font-size:10px;
    vertical-align: middle;
}

.panels table tbody tr td{
    font-size:10px;
    vertical-align: middle;
}

.panels table tbody tr td button{
    padding: 2.5px 10px;
    font-size: 10px;
    border-radius: 100px;
    background: #63cfff;
    color:#fff;
    border: none !important;
}

.panels table tbody tr td button:hover, .panels table tbody tr td button:active, .panels table tbody tr td button:focus{
    background: #48a6ce !important;
}
/* End Card Tabs */


@media only screen and (max-width: 600px) {
    .text-log {
        margin-left: 15px;
    }
}

@media only screen and (min-width: 1366px) {
    .text-log {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1920px) {
    .text-log {
        margin-left: 5px;
    }
}
