<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="/dinsos/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link ml-5" href="/dinsos/produk">Produk</a>
        <a class="nav-link ml-4" href="/dinsos/warung">Warung</a>
        <a class="nav-link ml-4" href="/dinsos/gelombang">Konfigurasi</a>
        <a class="nav-link ml-4" href="/dinsos/penerima-blt">Penerima BLT</a>
        <a class="nav-link ml-4 active" href="/dinsos/monitoring">Monitoring</a>
        <a class="nav-link ml-4" href="/dinsos/laporan-laba-rugi">Laporan Laba</a>
      </div>
    </div>
  </nav>
</template>
