<template>
  <div class="card-custom">
  <div class="card-header">
    <img src="/assets/dinsos/img/heart-rate.png" alt="heart-rate.img" width="50">
    <span class="text-grey font-weight-bold ml-2">Activity Log </span>
    <a href="#" class="float-right">Lihat Semua</a>
  </div>
  <div v-if="activityLog.length" class="card-body">
    <a v-for="(log, l) in activityLog" :key="l" :href="detailLink+log.id" style="color: #757575;" class="logs mb-3">
      <div class="row">
          <div class="col-2">
              <div class="user-circle">
                  <i class="fas fa-user"></i>
              </div>
          </div>
          <div class="col-10">
              <div class="text-log">
                  <p class="m-0">
                      <strong>{{log.nama}}</strong> {{log.keterangan}}
                  </p>
                  <p class="text-small mt-1">{{log.created_at}}</p>
              </div>
          </div>
      </div>
    </a>
  </div>
  <div v-else class="card-body">
    Tidak Ada Data
  </div>
</div>

</template>

<script>
import axios from 'axios'
export default {
  name: 'ActivityLog',
  data() {
    return {
      activityLog: [],
      detailLink: '/bjb/activity-log/detail/'
    }
  },
  methods: {
    getActivityLog() {
      axios({
        url: '/bjb/activity-log',
        method: 'get'
      }).then(res => {
        this.activityLog = res.data
      })
    }
  },
  mounted() {
    this.getActivityLog();
  }
}
</script>

<style>
  .aktif{
    background-color: #ccc;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
</style>
