<template>
  <div class="row mt-3">
    <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="filter-title mt-2 mb-2">Filter Pencairan</div>
                    <div class="row col-md-12">
                      <input class="form-control col-md-5" name="filter_pencairan" value="Rp.0" v-model="pencairanFrom" @input="ubahFormat('From')"/>
                      <span class="text-center mt-2 mx-2">S/d</span>
                      <input class="form-control col-md-5" name="filter_pencairan" value="Rp.1.000.000" v-model="pencairanTo" @input="ubahFormat('To')"/>
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button class="btn btn-sm shadow" data-dismiss="modal">BATAL</button>
                        <button class="btn btn-sm shadow ml-3" style="background: #6b7192; color: #fff" @click="cekFilterPencairan">FILTER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7">
      <navbar-dinsos v-if="role == 'dinsos'" />
      <navbar-bjb active="laporan" v-else />
      <hr>
      <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-12 col-xl-3 col-lg-3 col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <input id="password" type="text" class="form-control" name="password" required autocomplete="current-password" placeholder="Cari Warung" v-model="search" @input="cariWarung">
          </div>
        </div>

        <div class="col-12 col-xl-3 col-lg-3 col-md-12">
          <select class="form-control-sm" v-model="tahun" @change="getData()">
            <option value="2021">2021</option>
          </select>

          <select name="tes" id="gelombang" class="form-control-sm" v-model="gelombang" :disabled="gelombangDisabled" @change="ubahGelombang">
            <option value="1">Januari</option>
            <option value="2">Februari</option>
            <option value="3">Maret</option>
            <option value="4">April</option>
            <option value="5">Mei</option>
            <option value="6">Juni</option>
            <option value="7">Juli</option>
            <option value="8">Agustus</option>
            <option value="9">September</option>
            <option value="10">Oktober</option>
            <option value="11">November</option>
            <option value="12">Desember</option>
          </select>

        </div>

        <div class="col-12 col-xl-2 col-lg-3 col-md-12">
          <button class="btn btn-default span-box" @click="toPrevPage"> &lt; </button>
          <span>{{ currentPage }}</span>
          <span>dari</span>
          <span><b>{{ totalDataWarung }}</b></span>
          <button class="btn btn-default span-box" @click="toNextPage"> > </button>
        </div>
        <div class="col-md-1">
          <div class="filter-pencairan" data-toggle="modal" data-target="#filter">
              <i class="fas fa-filter"></i>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 col-xl-4">
          <button class="btn btn-grey-white py-2 px-4" @click="exportWarung"><i class="fas fa-file-download"></i> Export Laporan</button>
        </div>
      </div>

      <!-- Table Data Warung -->
      <div class="table-responsive">
          <table class="table table-hover table-borderless" id="table-warung">
            <thead>
                <tr class="text-center">
                  <th>Warung</th>
                  <th>Sudah Cair</th>
                  <th>Belum Cair</th>
                  <th>Total</th>
                  <th>Alamat</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
          </table>
      </div>
    </div>
    <div class="full-width col-md-5">
      <date-range-picker
        v-model="dateRange"
        opens="inline"
        :locale-data="locale"
        :show-dropdowns="false"
        :autoApply="autoApply"
        @update="getData"
        :minDate="minDate"
        :maxDate="maxDate"
      >
      </date-range-picker>
      <div class="row">
        <div class="col-md-4">
          <div class="card-custom">
            <div class="card-custom-body">
              <div class="card-custom-title">Total Uang Rembes</div>
              <div class="card-custom-subtitle">{{ toRupiah(uangRembes) }}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-custom">
            <div class="card-custom-body">
              <div class="card-custom-title">Total Dana Bantuan</div>
              <div class="card-custom-subtitle">{{ toRupiah(danaBantuan) }}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-custom">
            <div class="card-custom-body">
              <div class="card-custom-title">Belum Dibelanjakan</div>
              <div class="card-custom-subtitle">{{ toRupiah(sisaDana) }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-custom">
        <div class="card-body">
          <div class="card-custom-title">Dana vs Realisasi vs Rembes</div>
          <div class="chart" id="div-chart">
            <canvas id="line-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import DateRangePicker from 'vue2-daterange-picker'
  import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
  import Chart from 'chart.js'
  import lineChartData from './line-data.js'
  import axios from 'axios'
  import NavbarDinsos from './dinsos/navbar-dinsos'
  import NavbarBjb from './bjb/navbar-bjb'

  export default {
  name: 'Monitoring',
  components: {
    DateRangePicker, NavbarDinsos, NavbarBjb
  },
  props: ['role'],
  data() {
    return {
      dateRange: {},
      autoApply : false,
      minDate: "2019-05-02 04:00:00",
      maxDate: "2050-12-26 14:00:00",
      locale: {
        direction: 'ltr',
        format: 'dd/mm/yyyy',
        separator: ' - ',
        applyLabel: 'Filter',
        cancelLabel: 'Batal',
        weekLabel: 'w',
        customRangeLabel: 'Custom Range',
        daysOfWeek: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        monthNames: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
        firstDay: 0,
      },
      minDate: '2019-01-01 00:00:00',
      maxDate: '2100-31-12 00:00:00',
      lineChartData: lineChartData,
      uangRembes : 0,
      danaBantuan: 0,
      sisaDana : 0,
      tanggalAwal : '',
      tanggalAkhir : '',
      currentPage : 0,
      nextPage : 0,
      prevPage : 0,
      lastPage : 0,
      totalDataWarung : 0,
      tahun: 2021,
      gelombang : 0,
      gelombangDisabled : false,
      search : '',
      timer: '',
      pencairanFrom : 'Rp. 0',
      pencairanTo : 'Rp. 0'
    }
  },
  methods: {
    // dateFormat (classes, date) {
    //   if (!classes.disabled) {
    //     classes.disabled = date.getTime() < new Date()
    //   }
    //   return classes
    // },
    getData(value = null){
      $('#div-chart').children().remove();
      $('#div-chart').append('<canvas id="line-chart"></canvas>');

      var url = '/api/monitoring/get-data'

      if(value){
        this.gelombangDisabled = true;
        this.dateRange = {startDate : value.startDate, endDate: value.endDate};
        var tanggalAwal   = value.startDate;
        var tanggalAkhir  = value.endDate;

        this.tanggalAwal  = tanggalAwal  = tanggalAwal.getFullYear()+'-'+("0" + (tanggalAwal.getMonth()+1)).slice(-2)+'-'+("0" + tanggalAwal.getDate()).slice(-2);
        this.tanggalAkhir = tanggalAkhir = tanggalAkhir.getFullYear()+'-'+("0" + (tanggalAkhir.getMonth()+1)).slice(-2)+'-'+("0" + tanggalAkhir.getDate()).slice(-2)

        url = '/api/monitoring/get-data?'+'tanggalAwal='+tanggalAwal+'&tanggalAkhir='+tanggalAkhir;
      }else{
        this.gelombangDisabled = false;
      }

      axios({
        method: 'get',
        url: url
      }).then((response) => {
          var data = response.data;
          this.gelombang    = data.gelombang;
          this.uangRembes   = data.uangRembes ?? 0;
          this.danaBantuan  = data.danaBantuan ?? 0;
          this.sisaDana     = data.sisaDana ?? 0;

          this.lineChartData.data.labels = data.labelChart;
          this.lineChartData.data.datasets[0].data = data.dataDanaBantuan;
          this.lineChartData.data.datasets[1].data = data.dataDanaRealisasi;
          this.lineChartData.data.datasets[2].data = data.dataDanaRembes;

          const ctx = document.getElementById('line-chart');
          new Chart(ctx, this.lineChartData);

          var warung = data.warung;
          this.updateTableWarung(warung.data, warung.current_page, warung.total, warung.last_page);
      });
    },
    toPrevPage(){
      if(this.prevPage !== 0){
        var url = '/api/monitoring/get-data-warung?page='+this.prevPage;

        if(this.tanggalAkhir && this.tanggalAwal){
          url = url + '&tanggalAwal='+this.tanggalAwal+'&tanggalAkhir='+this.tanggalAkhir;
        }

        if(this.search){
          url = url + '&search=' + this.search;
        }

        axios({
          url : url,
          method : 'get'
        }).then((res) => {
          var warung = res.data.warung;
          this.updateTableWarung(warung.data, warung.current_page, warung.total, warung.last_page);
        })
      }

    },
    toNextPage(){
      if(this.nextPage <= this.lastPage && this.nextPage > 1){
        var url = '/api/monitoring/get-data-warung?page='+this.nextPage;

        if(this.tanggalAkhir && this.tanggalAwal){
          url = url + '&tanggalAwal='+this.tanggalAwal+'&tanggalAkhir='+this.tanggalAkhir;
        }

        if(this.search){
          url = url + '&search=' + this.search;
        }

        axios({
          url : url,
          method : 'get'
        }).then((res) => {
          var warung = res.data.warung;
          this.updateTableWarung(warung.data, warung.current_page, warung.total, warung.last_page);
        })
      }
    },
    updateTableWarung(data, currentPage, totalData, lastPage){
      var body = '';
      data.forEach(val => {
        body += `<tr class="text-center tr-card">
                    <td>${val.nama_warung}</td>
                    <td>${this.toRupiah(val.saldo_rembes)}</td>
                    <td>${this.toRupiah(val.saldo_total - val.saldo_rembes)}</td>
                    <td>${this.toRupiah(val.saldo_total)}</td>
                    <td>${val.alamat}</td>
                </tr>`;
      });
      $('#table-warung').children('tbody').children().remove();
      $('#table-warung').children('tbody').append(body);

      this.currentPage = currentPage;
      this.nextPage    = this.currentPage + 1;
      this.prevPage    = this.currentPage - 1;
      this.lastPage    = lastPage;
      this.totalDataWarung = totalData;
    },
    cariWarung(){
      var url = '/api/monitoring/get-data-warung?search='+this.search;

      if(this.tanggalAkhir && this.tanggalAwal){
        url = url + '&tanggalAwal='+this.tanggalAwal+'&tanggalAkhir='+this.tanggalAkhir;
      }

      if (this.timer) {
        clearTimeout(this.timer);
        this.timer = null;
      }
      this.timer = setTimeout(() => {
        axios({
          url : url,
          method : 'get'
        }).then((res) => {
          var warung = res.data.warung;
          this.updateTableWarung(warung.data, warung.current_page, warung.total);
        })
      }, 800);

    },
    ubahGelombang(){
      var url = '/api/monitoring/get-data-warung?gelombang='+this.gelombang;

      if(this.tanggalAkhir && this.tanggalAwal){
        url = url + '&tanggalAwal='+this.tanggalAwal+'&tanggalAkhir='+this.tanggalAkhir;
      }

      if(this.search){
        url = url + '&search=' + this.search;
      }

      axios({
        url : url,
        method : 'get'
      }).then((res) => {
        var warung = res.data.warung;
        this.updateTableWarung(warung.data, warung.current_page, warung.total);
      })

    },
    ubahFormat(filter){
      if(filter == 'From'){
        this.pencairanFrom = this.formatRupiah(this.pencairanFrom);
      }else{
        this.pencairanTo   = this.formatRupiah(this.pencairanTo);
      }
    },
    cekFilterPencairan(){
      var from = this.pencairanFrom;
      var to   = this.pencairanTo;
      if(from != 0){
        from = from.replace(/\D/g, '');
      }

      if(to != 0){
        to   = to.replace(/\D/g, '');
      }

      if(to == 0 || from == '' || to == ''){
        this.$swal({
          icon: 'error',
          title: 'Perhatian!',
          text: 'Isi dari semua input tidak boleh kosong atau bernilai 0'
        });
      }else if(parseInt(to) < parseInt(from)){
        this.$swal({
          icon: 'error',
          title: 'Perhatian!',
          text: 'Input kedua tidak boleh kurang dari input pertama'
        });
      }else{
        var url = '/api/monitoring/get-data-warung?pencairanFrom='+ from + '&pencairanTo=' + to;

        if(this.tanggalAkhir && this.tanggalAwal){
          url = url + '&tanggalAwal='+this.tanggalAwal+'&tanggalAkhir='+this.tanggalAkhir;
        }else if(this.gelombang){
          url = url + '&gelombang=' + this.gelombang;
        }

        if(this.search){
          url = url + '&search=' + this.search;
        }

        axios({
          url : url,
          method : 'get'
        }).then((res) => {
          var warung = res.data.warung;
          this.updateTableWarung(warung.data, warung.current_page, warung.total);
          $('#filter').modal('hide');
        })
      }
    },
    toRupiah(angka) {
      var rupiah = '';
      var angkarev = angka.toString().split('').reverse().join('');
      for(var i = 0; i < angkarev.length; i++) if(i%3 == 0) rupiah += angkarev.substr(i,3)+'.';
      return 'Rp. '+rupiah.split('',rupiah.length-1).reverse().join('');
    },
    formatRupiah(angka, prefix = "Rp. "){
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split  = number_string.split(','),
      sisa   = split[0].length % 3,
      rupiah = split[0].substr(0, sisa),
      ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if(ribuan){
        var separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }

      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    },
    exportWarung(){
      var url = '/api/monitoring/export-data-warung?paginate=false';

      if(this.pencairanFrom != '' && (this.pencairanTo != 0 || this.pencairanTo != 0 )){
        url = url + '&pencairanFrom='+ this.pencairanFrom.replace(/\D/g, '') + '&pencairanTo=' + this.pencairanFrom.replace(/\D/g, '');
      }

      if(this.tanggalAkhir && this.tanggalAwal){
        url = url + '&tanggalAwal='+this.tanggalAwal+'&tanggalAkhir='+this.tanggalAkhir;
      }else if(this.gelombang){
        url = url + '&gelombang=' + this.gelombang;
      }

      if(this.search){
        url = url + '&search=' + this.search;
      }

      window.open(url, "_blank");
    }
  },
  mounted(){
    this.getData();
    console.log(this.role, "role")
  }
  }
</script>
