<template>
  <div class="row">
    <div v-if="detail" class="col-md-4 mt-2">
      <div @click="detail = !detail" class="m-2" style="cursor: pointer; position: absolute; z-index: 999; top: -60px; left: 60px;">
        <i class="fas fa-arrow-left"></i> <span class="ml-2">Kembali</span>
      </div>
      <histori-pencairan-rembes :warung-id="warungId"/>
    </div>
    <div v-if="!detail" class="col-md-9">
      <div class="row card-custom" id="content">
        <navbar active="pencairan" />

        <div class="col-12">
          <!-- <button type="button" class="mb-1 btn btn-sm btn-grey-white dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton1"
            aria-expanded="false" @click="dropdown = 'cetak'">
            <i class="fas fa-print"></i> Cetak Data
          </button> -->
          <button type="button" class="mb-1 btn btn-sm btn-grey-white dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton2"
            aria-expanded="false" @click="dropdown = 'pencairan'">
            <i class="fas fa-dollar-sign"></i> Setujui Pencairan
          </button>
          <div v-if="dropdown == 'pencairan'" class="dropdown-menu" aria-labelledby="dropdownMenuButton1" role="menu">
            <a class="dropdown-item" href="#" @click="setujuiPencairan()">Setujui Semua</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" @click="setujuiPencairan('filter')">Berdasarkan Filter</a>
            <a class="dropdown-item" href="#" @click="setujuiPencairan('checklist')">Berdasarkan Checklist</a>
          </div>
          <div v-else class="dropdown-menu" aria-labelledby="dropdownMenuButton2" role="menu">
            <a class="dropdown-item" href="/bjb/pencairan-rembes/cetak-warung-rembes">Cetak Semua</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" @click="cetakData('filter')">Berdasarkan Filter</a>
            <a class="dropdown-item" href="#" @click="cetakData('checklist')">Berdasarkan Checklist</a>
          </div>

          <form method="POST" @submit.prevent="getData()">
            <div class="input-group mb-3">
              <input required type="text" class="form-control form-control-sm" placeholder="Masukan Nama Warung" v-model="cariWarung">
              <div class="input-group-append">
                <button class="btn btn-sm btn-grey-white" type="submit"> <i class="fas fa-search"></i> </button>
              </div>
            </div>
          </form>

          <select class="form-control-sm" v-model="pilihTahun" @change="getData()">
            <option value="2021">2021</option>
          </select>

          <select class="form-control-sm" v-model="pilihBulan" @change="getData()">
            <option value="1">Januari</option>
            <option value="2">Februari</option>
            <option value="3">Maret</option>
            <option value="4">April</option>
            <option value="5">Mei</option>
            <option value="6">Juni</option>
            <option value="7">Juli</option>
            <option value="8">Agustus</option>
            <option value="9">September</option>
            <option value="10">Oktober</option>
            <option value="11">November</option>
            <option value="12">Desember</option>
          </select>

          <div class="float-right">
            <div class="control-page">
              <!-- Pagination -->
              <a @click="getData(prev_page_url)" class="btn btn-sm btn-default span-box"> <i class="fas fa-chevron-left"></i> </a>
              <span class="mr-1 ml-1">{{ current_page }}</span>
              <span>dari</span>
              <span class="mr-1 ml-1">{{ last_page }}</span>
              <a @click="getData(next_page_url)" class="btn btn-sm btn-default span-box"> <i class="fas fa-chevron-right"></i> </a>

              <!-- Filter -->
              <span class="ml-2">Filter</span>

              <button type="button" class="btn btn-sm span-box" :class="{
                  'icon-active': isFilterActive
                }" data-toggle="modal" data-target="#filter">
                <i class="fas fa-filter"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- table -->
        <div class="table-responsive mt-3">
          <table class="table table-hover table-striped">
            <thead>
              <tr class="text-center">
                <th>
                  <label class="form-checkbox">
                    <input type="checkbox" v-model="pilih_semua" @click="pilih()">
                  </label>
                </th>
                <th>Nama Warung</th>
                <th>Nama Pemilik</th>
                <th>NIK Pemilik</th>
                <th>No Whatsapp</th>
                <th>Total Transaksi</th>
                <th>Sudah Rembes</th>
                <th>Belum Rembes</th>
                <th>Aksi</th>
              </tr>
            </thead>

            <tbody>
                <tr v-for="(rembes, r) in rembesWarung" :key="r" class="text-center">
                  <td>
                    <label class="form-checkbox">
                      <input type="checkbox" v-model="terpilih" :value="rembes.id_warung">
                    </label>
                  </td>
                  <td>{{ rembes.nama_warung }}</td>
                  <td>{{ rembes.nama_pemilik }}</td>
                  <td>{{ rembes.nik_pemilik }}</td>
                  <td>{{ rembes.no_whatsapp }}</td>
                  <td>{{ toRupiah(rembes.total_rembes) }}</td>
                  <td>{{ toRupiah(rembes.sudah_rembes) }}</td>
                  <td>{{ toRupiah(rembes.total_rembes - rembes.sudah_rembes) }}</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-white-grey" @click="lihatDetail(rembes.id_warung)"><i class="fas fa-info-circle"></i></button>
                    <a href="#" @click="cetakData(null, null, rembes.id_warung)" class="btn btn-sm btn-grey-white f-10"><i class="fas fa-print"></i></a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div v-if="detail" class="col-md-8">
      <div class="row card-custom" id="content">
        <navbar active="pencairan" />

        <div class="col-12">
          <button type="button" class="mb-1 btn btn-sm btn-grey-white dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton1"
            aria-expanded="false" @click="dropdown = 'cetak'">
            <i class="fas fa-print"></i> Cetak Transaksi
          </button>
          <button type="button" class="mb-1 btn btn-sm btn-grey-white dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton2"
            aria-expanded="false" @click="dropdown = 'pencairan'">
            <i class="fas fa-dollar-sign"></i> Setujui Transaksi
          </button>
          <div v-if="dropdown == 'pencairan'" class="dropdown-menu" aria-labelledby="dropdownMenuButton1" role="menu">
            <a class="dropdown-item" href="#" @click="setujuiPencairan(null, null, warungId)">Setujui Semua</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" @click="setujuiPencairan('checklist-transaksi')">Berdasarkan Checklist</a>
          </div>
          <div v-else class="dropdown-menu" aria-labelledby="dropdownMenuButton2" role="menu">
            <a class="dropdown-item" href="#" @click="cetakData(null, null, warungId)">Cetak Semua</a>
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="#" @click="cetakData('filter')">Berdasarkan Filter</a> -->
            <a class="dropdown-item" href="#" @click="cetakData('checklist', null, warungId)">Berdasarkan Checklist</a>
          </div>

          <form action="#" method="GET">
            <div class="input-group mb-3">
              <input type="text" class="form-contro form-control-sm" name="cariPenerima" placeholder="Masukan Nama Penerima" v-model="cariPenerima">
              <div class="input-group-append">
                <button class="btn btn-sm btn-grey-white" type="button" @click="cariTransaksi()"> <i class="fas fa-search"></i> </button>
              </div>
            </div>
          </form>

          <select class="form-control-sm" v-model="pilihTahun" @change="cariTransaksi()">
            <option value="2021">2021</option>
          </select>

          <select name="tes" id="gelombang" class="form-control-sm" v-model="pilihBulan" @change="cariTransaksi()">
            <option value="1">Januari</option>
            <option value="2">Februari</option>
            <option value="3">Maret</option>
            <option value="4">April</option>
            <option value="5">Mei</option>
            <option value="6">Juni</option>
            <option value="7">Juli</option>
            <option value="8">Agustus</option>
            <option value="9">September</option>
            <option value="10">Oktober</option>
            <option value="11">November</option>
            <option value="12">Desember</option>
          </select>

          <div class="float-right">
            <div class="control-page">
              <!-- Pagination -->
              <button type="button" class="btn btn-sm btn-default span-box" @click="cariTransaksi(true, nextPage)"> <i class="fas fa-chevron-left"></i> </button>
              <span class="mr-1 ml-1">1</span>
              <span>dari</span>
              <span class="mr-1 ml-1">{{ lastPage }}</span>
              <button type="button" class="btn btn-sm btn-default span-box" @click="cariTransaksi(true, prevPage)"> <i class="fas fa-chevron-right"></i> </button>

              <!-- Filter -->
              <!-- <span class="ml-2">Filter</span>
              <button type="button" class="btn btn-sm span-box" id="showFilter"> <i class="fas fa-filter"></i> </button> -->
            </div>
          </div>
        </div>
        <!-- table -->
        <div class="table-responsive mt-3">
          <table class="table table-hover table-striped">
            <thead>
              <tr class="text-center">
                <th>
                  <label class="form-checkbox">
                    <input type="checkbox" v-model="pilih_semua_transaksi" @click="pilihTransaksi()">
                  </label>
                </th>
                <th>Status</th>
                <th>Tanggal</th>
                <th>ID Transaksi</th>
                <th>NIK Penerima</th>
                <th>Nama Penerima</th>
                <th>Nominal</th>
                <th>Aksi</th>
              </tr>
            </thead>

            <tbody>
                <tr v-for="(transaksi, i) in dataTransaksi" :key="i" class="text-center">
                  <td>
                    <label class="form-checkbox">
                      <input type="checkbox" v-model="terpilihTransaksi" :value="transaksi.id">
                    </label>
                  </td>
                  <td>{{ transaksi.status }}</td>
                  <td>{{ transaksi.tanggal }}</td>
                  <td>{{ transaksi.id }}</td>
                  <td>{{ transaksi.nik }}</td>
                  <td>{{ transaksi.nama }}</td>
                  <td>{{ toRupiah(transaksi.total_harga) }}</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-white-grey" @click="lihatDetailTransaksi(transaksi.id)">
                      <i v-if="transaksi.status == 'Pending'" class="fas fa-check"></i>
                      <i v-else class="fas fa-info"></i>
                    </button>
                    <button @click="cetakData(null, transaksi.id, warungId)" class="btn btn-sm btn-grey-white f-10"><i class="fas fa-print"></i></button>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-3" v-if="!detail">
      <activity-log />
    </div>
    <!-- drawer -->
    <div
      class="container right-drawer"
      :style="{
        width: drawer ? '45vw' : '0',
        height: drawer ? '100vh !important': '0',
        paddingLeft: drawer ? '10px' : '0',
      }"
    >
      <div class="text-right clearfix">
        <button class="close" @click="drawer = !drawer"><i class="fas fa-times"></i></button>
      </div>
      <!-- content drawer -->
      <div class="container">
        <drawer-rembes :produk="dataTransaksiProduk" :penerima="dataTransaksiPenerima" />
      </div>
    </div>

    <div
      class="drawer-mask"
      :style="{
        width: drawer ? '100vw' : '0',
        opacity: drawer ? '0.6' : '0',
      }"
      @click="drawer = false"
    >
    </div>

    <!-- modal -->
    <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="filter-title mt-2 mb-2">Filter Belum Rembes</div>
						<div class="row col-md-12">
						<input class="form-control col-md-5" name="filter_pencairan" placeholder="Rembes Terendah" v-model="rembesTerendah" @input="ubahFormat('From')"/>
						<span class="text-center mt-2 mx-2">S/d</span>
						<input class="form-control col-md-5" name="filter_pencairan" placeholder="Rembes Terbesar" v-model="rembesTerbesar" @input="ubahFormat('To')"/>
						</div>
						<div class="d-flex justify-content-end mt-4">
							<button class="btn btn-sm shadow" data-dismiss="modal">BATAL</button>
							<button class="btn btn-sm shadow ml-3" style="background: #6b7192; color: #fff" @click="getData(false, true)" >FILTER</button>
						</div>
					</div>
				</div>
			</div>
		</div>

  </div>
</template>

<script>
import ActivityLog from './ActivityLog'
import Navbar from './bjb/navbar-bjb'
import HistoriPencairanRembes from './bjb/HistoriPencairanRembes.vue'
import DrawerRembes from './bjb/DrawerRembes'
import axios from 'axios'

export default {
  name: "PencairanRembes",
  components: {
    ActivityLog, Navbar, HistoriPencairanRembes, DrawerRembes
  },
  data() {
    return {
      detail: false,
      drawer: false,
      warungId : 0,
      pilihGelombang : 0,
      cariPenerima: '',
      isFilterActive: false,
      rembesTerendah: null,
      rembesTerbesar: null,
      nextPage: 0,
      prevPage: 0,
      currentPage : 0,
      lastPage : 0,
      totalData : 0,
      dataTransaksi : [],
      dataTransaksiProduk : [],
      dataTransaksiPenerima : {},
      cariWarung: null,
      pilihBulan : 0,
      pilihTahun: 0,
      pilih_semua: false,
      pilih_semua_transaksi: false,
      terpilih: [],
      terpilihTransaksi: [],
      rembesWarung: [],
      current_page: '',
      last_page: '',
      next_page_url: '#',
      prev_page_url: '#',
      dropdownPencairan: false,
      dropdownCetak: false,
      dropdown: ''
    }
  },
  methods: {
    getData(pagination = null, is_filter = false) {
      var url = `/bjb/pencairan-rembes/semua?bulan=${this.pilihBulan}&tahun=${this.pilihTahun}`;
      if (pagination) {
        url = pagination
      }
      if (this.cariWarung) {
        url += '&cari='+this.cariWarung
      }
      if (is_filter || this.isFilterActive) {
        if (this.rembesTerendah && this.rembesTerbesar) {
          url += this.tambahkanFilter();
          this.isFilterActive = true;
          $("#filter").modal('hide')
        } else {
          this.$swal({
            icon: 'info',
            title: 'Perhatian!',
            text: 'Isian Tidak Boleh Kosong'
          });
          this.isFilterActive = false;
          return;
        }
      }
      axios({
          url : url,
          method : 'get'
        }).then((res) => {
          this.rembesWarung = res.data.data
          this.current_page = res.data.current_page
          this.last_page = res.data.last_page
          this.prev_page_url = res.data.prev_page_url
          this.next_page_url = res.data.next_page_url
        })
    },
    tambahkanFilter() {
      if (this.rembesTerendah) {
        var terendah = this.rembesTerendah.replace(/\D/g, '');
      }
      if (this.rembesTerbesar) {
        var terbesar = this.rembesTerbesar.replace(/\D/g, '');
      }
      return `&filterRembes=true&rembesTerendah=${terendah}&rembesTerbesar=${terbesar}`
    },
    setujuiPencairan(berdasarkan = null, transaksiId = null, warungId = null) {
      this.$swal({
        title: 'Setujui Pencairan?',
        text: "Anda Tidak Akan Dapat Memulihkan Aksi Ini",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ya, Setujui!',
        cancelButtonText: 'Batal'
      }).then((result) => {
        if (result.isConfirmed) {
          var url = `/bjb/pencairan-rembes/pencairan-rembes?`
          if(berdasarkan == 'filter'){
            if (this.rembesTerendah) {
              var terendah = this.rembesTerendah.replace(/\D/g, '');
            }
            if (this.rembesTerbesar) {
              var terbesar = this.rembesTerbesar.replace(/\D/g, '');
            }

            if (this.rembesTerendah && this.rembesTerbesar) {
              var filter = `&filterRembes=true&rembesTerendah=${terendah}&rembesTerbesar=${terbesar}`
              url += filter
              this.isFilterActive = true;
              $("#filter").modal('hide')
            }
            if (this.cariWarung) {
              url += '&cari='+this.cariWarung
            }
          }else if(berdasarkan == 'checklist'){
            if(this.terpilih == []){
                this.$swal({
                  icon: 'info',
                  title: 'Perhatian!',
                  text: 'Isian Tidak Boleh Kosong'
                });
                return;
            }
            url += '&ids=' + this.terpilih;
          } else if(berdasarkan == 'checklist-transaksi') {
            url += '&trxIds=' + this.terpilihTransaksi;
          }
          if (transaksiId) {
            url += `transaksiId=${transaksiId}`
          }
          if (warungId) {
            url += `ids=${warungId}`
          }
          axios({
            url: url,
            data: {
              bulan: this.pilihBulan,
              tahun: this.pilihTahun
            },
            method: 'POST'
          }).then((res) => {
            var status = res.data.status
            var message = res.data.message
            this.$swal(
              status == 200 ? 'Berhasil!' : 'Info',
              message,
              status == 200 ? 'success': 'info'
            )
            this.getData();
            if (berdasarkan == 'checklist-transaksi' || transaksiId || warungId) {
              this.cariTransaksi();
            }
          })

        }
      })
    },
    lihatDetail(warungId) {
      this.detail = true;
      this.warungId = warungId;
      this.cariTransaksi();
    },
    lihatDetailTransaksi(id){
      axios({
        url: '/bjb/pencairan-rembes/transaksi/detail/'+id,
        method: 'get'
      }).then(res => {
        this.dataTransaksiProduk = res.data;
      })
      axios({
        url: '/bjb/pencairan-rembes/transaksi/detail_penerima/'+id,
        method: 'get'
      }).then(res => {
        this.dataTransaksiPenerima = res.data;
      })
      this.drawer = true;
    },
    cariTransaksi(paginate = false, page = null, range = null){

      if(paginate == true && (page == 0 || page > this.lastPage) ){
        return;
      }

      var url = 'pencairan-rembes/cari-transaksi/'+ this.warungId +'?';

      if(paginate == true){
        url += 'page=' + page;
      }

      if(this.cariPenerima){
        url += '&penerima=' + this.cariPenerima;
      }

      if(this.pilihGelombang && this.pilihTahun){
        url += '&bulan=' + this.pilihGelombang;
        url += '&tahun=' + this.pilihTahun;
      }

      if(range) {
        let tanggalFrom = range.tanggalFrom;
        let bulanFrom = range.bulanFrom;
        let tahunFrom = range.tahunFrom;
        let tanggalTo = range.tanggalTo;
        let bulanTo = range.bulanTo;
        let tahunTo = range.tahunTo;
				url += `&tanggal_from=${tanggalFrom}&bulan_from=${bulanFrom}&tahun_from=${tahunFrom}&tanggal_to=${tanggalTo}&bulan_to=${bulanTo}&tahun_to=${tahunTo}`
      }

      axios({
        url : url,
        method : 'get'
      }).then((res) => {
          var data          = res.data;
          this.currentPage  = data.current_page;
          this.lastPage     = data.last_page;
          this.totalData    = data.total;
          this.nextPage     = this.currentPage - 1;
          this.prevPage     = this.currentPage + 1;
          this.dataTransaksi = data.data;
      });
    },
    toRupiah(angka) {
      var rupiah = '';
      var angkarev = angka.toString().split('').reverse().join('');
      for(var i = 0; i < angkarev.length; i++) if(i%3 == 0) rupiah += angkarev.substr(i,3)+'.';
      return 'Rp. '+rupiah.split('',rupiah.length-1).reverse().join('');
    },
    ubahFormat(filter){
      if(filter == 'From'){
        this.rembesTerendah = this.formatRupiah(this.rembesTerendah);
      }else{
        this.rembesTerbesar   = this.formatRupiah(this.rembesTerbesar);
      }
    },
    formatRupiah(angka, prefix = "Rp. "){
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split  = number_string.split(','),
      sisa   = split[0].length % 3,
      rupiah = split[0].substr(0, sisa),
      ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if(ribuan){
        var separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }

      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    },
    pilih() {
      this.terpilih = [];
      if (!this.pilih_semua) {
        for (let i in this.rembesWarung) {
          this.terpilih.push(this.rembesWarung[i].id_warung)
        }
      }
    },
    pilihTransaksi() {
      this.terpilihTransaksi = [];
      if (!this.pilih_semua_transaksi) {
        for (let i in this.dataTransaksi) {
          this.terpilihTransaksi.push(this.dataTransaksi[i].id)
        }
      }
    },
    cetakData(berdasarkan = null, transaksiId = null, warungId = null){
      var url = `/bjb/pencairan-rembes/cetak-warung-rembes/${warungId}/?bulan=${this.pilihBulan}&tahun=${this.pilihTahun}`;
      if(berdasarkan == 'filter'){
        if (this.cariPenerima) {
          url += '&cari='+this.cariPenerima
        }
      }else if(berdasarkan == 'checklist'){
        if(this.terpilihTransaksi == []){
            this.$swal({
              icon: 'info',
              title: 'Perhatian!',
              text: 'Isian Tidak Boleh Kosong'
            });
            return;
        }
        url += '&ids=' + this.terpilihTransaksi;
      }

      if (transaksiId) {
        url += `&ids=${transaksiId}`
      }

      window.location = url;
		},
    openDrawer() {
      this.drawer = true;
    }
  },
  mounted() {
    var date = new Date();
    this.pilihGelombang = date.getMonth();
    this.pilihBulan = date.getMonth();
    this.pilihTahun = date.getFullYear();
    this.getData();
  }
}
</script>
<style>
  .right-drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 0; /* initially */
    overflow-y: scroll;
    height: 100vh;
    padding-left: 0; /* initially */
    border-left: 1px solid whitesmoke;
    background: white;
    z-index: 200;
    transition: all 0.2s; /* for the animation */
  }
  .drawer-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 0; /* initially */
    height: 100vh;
    background: #000;
    opacity: 0.3;
    z-index: 199;
    overflow-y: hidden !important;
  }

  .full-width{
    width:100%;
  }
  .icon-active {
    color: white !important;
    background: green !important;
  }
</style>
